<!DOCTYPE html>
<html>
    <head>
        <style>
ul {
  background: #ffffff;
  padding: 20px;
}

ul li {
  background: #f0f0f0;
  margin: 5px;
}
        </style>
    </head>
    <body>
        Lista zagadek://todo ładna tabelka, autolink do map, podgląd zdjęcia,
        <ul>
            <li>Wieża Ciśnień Na Grobli                  51.104556, 17.057833                           <a href="/editplace?id=1">Edytuj</a></li>
            <li>Wieża ciśnień Borek przy Al. Wiśniowej   51.085278, 17.0175                             <a href="/editplace?id=2">Edytuj</a></li>
            <li>Wieża ciśnień na Karłowicach             51.138333, 17.060167                           <a href="/editplace?id=3">Edytuj</a></li>
        </ul>
        <a href="/zagadki">Strona zagadek</a>
    </body>
</html>

