<!DOCTYPE html>
<html>
    <head>
        <style>
ul {
  background: #ffffff;
  padding: 20px;
}

ul li {
  background: #f0f0f0;
  margin: 5px;
}
        </style>
        <script>
            window.history.replaceState = "/";
            window.history.pushState = "/";
        </script>
    </head>
    <body>
        Lista zagadek:
        <ul>
            <li>Wieze cisnien       <a href="/edytujZagadke?id=1">Edytuj</a> <a href="/places?q=1">Miejsca zagadki</a></li>
            <li>Kampus PWR          <a href="/edytujZagadke?id=2">Edytuj</a> <a href="/places?q=2">Miejsca zagadki</a></li>
            <li>Filmy i seriale     <a href="/edytujZagadke?id=3">Edytuj</a> <a href="/places?q=3">Miejsca zagadki</a></li>
        </ul>
        <a href="/dodajZagadke">Nowa zagadka</a><br>
        <a href="/places">Strona miejsc</a>
    </body>
</html>

